<div class="container">
  <div *ngIf="this.isLoading" class="spinner"></div>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="NFT">
      <button mat-button (click)="createNft()">
        <mat-icon>add</mat-icon>
        Créer un NFT
      </button>
      <div class="tab-container">
        <mat-card class="profile-card" *ngFor="let nft of nfts">
          <mat-card-header>
            <mat-card-title>{{ nft.name }}</mat-card-title>
            <mat-card-subtitle>{{ nft.value }}</mat-card-subtitle>
            <mat-card-subtitle>{{ nft.rarity }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img [src]="nft.imgUrl" alt="img nft">
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-icon-button (click)="editNft(nft)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteNft(nft)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Utilisateurs" class="test">
      <div class="tab-container">
        <mat-card class="profile-card" *ngFor="let user of users">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{ user.lastName }}</mat-card-title>
            <mat-card-subtitle>{{ user.firstName }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-icon-button (click)="editUser(user)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteUser(user)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
