<div class="container">
  <div *ngIf="this.isLoading" class="spinner"></div>

  <mat-card class="profile-card" *ngFor="let user of users">
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title> {{user.lastName}}</mat-card-title>
      <mat-card-subtitle>{{user.firstName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="editUser(user)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteUser(user)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>

