.container {
  display: flex;
  justify-content: center;
  padding-top: 22px;

  .profile-card {
    width: 200px;
    margin-right: 8px;
    margin-bottom: 8px;
    &:last-child {
      margin-right: 0;
    }
  }

  .avatar {
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/675/382/original/man-avatar-image-for-profile-png.png');
    background-size: cover;
  }
}


