<div class="container">
  <div *ngIf="this.isLoading" class="spinner"></div>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="NFT">
      <button mat-button (click)="createNft()">
        <mat-icon>add</mat-icon>
        Créer un NFT
      </button>
      <div class="tab-container">
        <app-nft-card
          *ngFor="let nft of nftArray"
          [nft]="nft"
          [editable]="true"
          (deleteNftEvent)="deleteNft($event)"
          (editNftEvent)="editNft($event)"
          class="profile-card"></app-nft-card>
      </div>
    </mat-tab>
    <mat-tab label="Utilisateurs" class="test">
      <div class="tab-container">
        <app-user-card
          *ngFor="let user of users"
          [user]="user"
          [editable]="true"
          (deleteUserEvent)="deleteUser($event)"
          (editUserEvent)="editUser($event)"
          class="profile-card"></app-user-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
