.container {
  display: flex;
  justify-content: center;
  padding-top: 22px;

  .profile-card {
    margin-right: 8px;
    margin-bottom: 8px;
    &:last-child {
      margin-right: 0;
    }
  }

  mat-tab-group {
    width: 100%;

    .tab-container {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 10px;
    }
  }
}


