<div class="container">
  <div class="header">
    <span class="title">{{title}} d'un nft</span>
    <button class="close-button" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="editNftForm" (ngSubmit)="save()">
    <mat-dialog-content>
      <uic-input
        [ctrl]="editNftFormControls.name"
        label="Nom"
        placeholder="entrer le nom"></uic-input>
      <uic-input
        [ctrl]="editNftFormControls.value"
        label="Valeur"
        placeholder="entrer la valeur"></uic-input>
      <uic-input
        [ctrl]="editNftFormControls.rarity"
        label="Rareté"
        placeholder="entrer la rareté"></uic-input>
      <uic-input
        [ctrl]="editNftFormControls.imgUrl"
        label="Url image"
        placeholder="entrer l'url"></uic-input>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit">Enregistrer</button>
    </mat-dialog-actions>
  </form>
</div>
