<div class="container">
  <div class="form-container">
  <uic-input [ctrl]="registerFormControls.email" label="Email" placeholder="entrer votre email"></uic-input>
  <uic-input [ctrl]="registerFormControls.password" label="Mot de passe" placeholder="entrer votre mot de passe"></uic-input>
  <uic-input [ctrl]="registerFormControls.lastName" label="Nom" placeholder="entrer votre nom"></uic-input>
  <uic-input [ctrl]="registerFormControls.firstName" label="Prénom" placeholder="entrer votre prénom"></uic-input>
  <button mat-button (click)="submit()">S'enregistrer</button>
  </div>
</div>
