<div class="container">
  <div class="form-container">
    <div class="alert-container" *ngFor="let alert of alerts; let index = index">
      <span>{{ alert }}</span>
      <button mat-icon-button (click)="removeAlert(index)">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <uic-input
        [ctrl]="registerFormControls.email"
        label="Email"
        placeholder="entrer votre email"></uic-input>
      <uic-input
        [ctrl]="registerFormControls.password"
        label="Mot de passe"
        placeholder="entrer votre mot de passe"
        type="password"></uic-input>
      <uic-input
        [ctrl]="registerFormControls.lastName"
        label="Nom"
        placeholder="entrer votre nom"></uic-input>
      <uic-input
        [ctrl]="registerFormControls.firstName"
        label="Prénom"
        placeholder="entrer votre prénom"></uic-input>
      <button mat-button type="submit">S'enregistrer</button>
    </form>
  </div>
</div>
