.tab-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.profile-card {
  margin-right: 8px;
  margin-bottom: 8px;
  &:last-child {
    margin-right: 0;
  }
}
